.FeelsLIkeWrapper {
    color: #CCCCCC;
    font-size: 1.2rem;
    margin: .5rem 0;
}
.FeelsLIkeWrapper p {
    margin-top: 2px;
}
.FeelsLIkeWrapper .FeelsLIkeSymbol {
    font-size: 1.2rem;
}


@media only screen and (min-width:600px) {
    
    .FeelsLIkeWrapper {
    color: #CCCCCC;
    font-size: 3rem;
    margin: .5rem 0;
    }
    .FeelsLIkeWrapper p {
        margin-top: 2px;
    }
    .FeelsLIkeWrapper .FeelsLIkeSymbol {
        font-size: 3rem;
    }
}